<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">
        <img src="../../../assets/logo-cine-transparente.png" width="60" height="60" class="d-inline-block align-top"
            alt="logo peliculas">
        <span class="navbar-brand m-2">Peliculas</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['search']">Buscar</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="buscarPelicula(buscar.value)">
            <input class="form-control mr-sm-2" 
            type="search" 
            #buscar 
            placeholder="Search" 
            aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>